@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>Closest two Bus Stops with bus arrival times</h2>

<h3>@(Model.Stops.Any() ? "" : "No stops found nearby")</h3>
@foreach (var stop in Model.Stops)
{
    <h3>@(stop.Any() ? stop.First().stationName : "No buses found")</h3>
    <div style="padding-bottom: 15px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 40%">Bus Towards</th>
                    <th style="width: 40%">From stop</th>
                    <th style="width: 20%">Arriving at</th>
                </tr>
            </thead>

            @foreach (var bus in stop)
            {
                <tr>
                    <td>@bus.towards</td>
                    <td>@bus.stationName</td>
                    <td>@bus.expectedArrival.ToString("HH:mm")</td>
                </tr>
            }
        </table>
    </div>
}
